@media only screen and (max-width: 1400px){
    .section-one{
        background-size: initial;
    }
}

@media only screen and (max-width: 860px){

    .section-one{
        height: 500px;
        background-position-y: -200px;
    }

    .section-two{
        background-image: none;
    }

    .section-two > div {
        width: 100%;
    }

    .section-three {
        display: initial;
    }

    .left {
        width: 100%;
        height: 180px;
    }

    .center {
        width: 100%;
        height: 250px;
        background-color: #fff;
    }

    .right {
        width: 100%;
        background-color: #E5E5E5;
    }

    .top {
        height: 180px;
    }

    .bottom {
        height: 250px;
    }

}

@media only screen and (max-width: 500px){

    .landing-page-container p {
        font-size: 12pt;
    }

    .section-one {
        height: 250px;
        background-position-y: -400px;
        padding: 20px;
    }

    .section-one > h3 {
        font-size: 15pt;
        left: initial;
    }

    .ibm-div {
        height: 35px;
    }

    .ibm-div span {
        font-size: 12pt;
    }

    .section-two {
        padding: 20px;
    }

    .section-two h3 {
        font-size: 15pt;
    }

    .section-two p {
        margin-bottom: 20px;
    }

    .section-two span {
        font-size: 12pt;
    }

    .section-two a {
        font-size: 12pt;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
    }

    .left, .top {
        height: 80px;
    }

    .center, .bottom {
        padding: 20px;
        height: 200px;
    }

    .center a, .bottom a {
        font-size: 12pt;
        right: initial;
    }

    footer {
        height: 45px;
    }
}