@media only screen and (max-width: 700px){

    article {
        padding: 12px 0 12px 0;
    }

    article div {
        flex-direction: column;
        align-items: initial;
    }

    article div span {
        width: 90%;
    }

    .title, .date {
        font-size: 13pt;
    }

    .title {
        position: initial;
    }

    .delete-icon {
        position: absolute;
        right: 0;
        top: 20%;
        height: 20px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 500px){

    .title, .date {
        font-size: 11pt;
    }

    .date {
        display: block;
        position: relative;
    }
}