article {
    border-top: 1px solid lightgrey;
    padding: 20px 0 20px 0;
}

article div {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.delete-icon {
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

span {
    color: #ec560a;
    font-size: 18pt;
    cursor: pointer;
}

.title {
    position: absolute;
    left: 0;
}