@media only screen and (max-width: 950px){
    .card {
        width: 22%;
    }
}

@media only screen and (max-width: 600px){
    .card {
        width: 30%;
    }
}

@media only screen and (max-width: 430px){
    .card {
        width: 48%;
    }
}