header {
    padding: 10px;
}

header > div {
    display: flex;
    height: 100%;
}

header img {
    height: 100%;
}

.app-name {
    display: inline-block;
    font-size: 25pt;
    margin-left: 10px;
}

.app-name a {
    text-decoration: none;
    color: #020271;
}