.user-text-container{
    max-height: 1000px;
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.grid > h3 {
    margin-bottom: 20px;
    color: #ec560a;
    font-family: 'Merriweather', serif;
}

.grid > p {
    margin-bottom: 10px;
}

.textarea-container {
    margin-top: 40px;
    background-color: #020271;
    padding: 20px;
}

.textarea-container > p {
    color: #fff;
    font-size: 15pt;
}

.user-textarea {
    height: 400px;
    padding: 15px;
    font-family: 'Merriweather', serif;
}

.user-text-button {
    float: right;
    width: 100px;
    padding: 5px;
    background-color: #ec560a;
    border: none;
    color: #fff;
    font-size: 15pt;
}

.red {
    color: red;
}

.grey {
    color: #777677;
}

.green {
    color: #00b4a0;
}