* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

/************************** header ***********************/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
}

/************************** main ***********************/

.main-container {
    height: 100%;
    background-color: #E5E5E5;
}

.main-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1150px;
    padding: 30px 15px 30px 15px;
}