@media only screen and (max-width: 600px) {
    .watson-container-background {
        bottom: 0; 
        left: 0;
        overflow: auto;
        background: rgb(60, 60, 60);
        background: rgba(60, 60, 60, 0.6); 
        padding-left: 10px;
        padding-right: 10px;
    }

    .watson-container {
        padding: 10px;
    }

    .watson-container > h3{
        font-size: 14pt;
    }

    .word-count {
        font-size: 12pt;
        margin-bottom: 15px;
    }

    .word-count > span {
        font-size: 12pt;
    }

    .word-count-infobox-container {
        top: 85px;
        left: 80px;
        width: 200px;
    }
}