.watson-container-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.userText {
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.6); 
}

.x {
    position: absolute;
    color: #fff;
    background-color: #ec560a;
    padding: 2px;
    right: 20px;
    cursor: pointer;
}

.watson-container {
    position: relative;
    max-width: 1000px;
    padding: 20px;
    margin: 20px auto 20px;
    background-color: #E5E5E5;
}

.watson-container > h3{
    color: #ec560a;
    font-size: 25pt;
    margin: 20px 0 10px;
    font-family: 'Merriweather', serif;
}

.word-count {
    font-size: 16pt;
    margin-bottom: 30px;
}

.word-count > span {
    font-size: 16pt;
}

.word-count-infobox-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 120px;
    left: 160px;
    color: #fff;
    width: 270px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.word-count-infobox{
    width: 270px;
    background-color: #00b4a0;
    padding: 15px;
}

/******* color **********/
.red {
    color: #ff0606;
}

.red-background {
    background-color: #ff0606;
}

.red-arrow {
    border-bottom: 15px solid #ff0606;
}

.grey {
    color: #777677;
}

.grey-background {
    background-color: #777677;
}

.grey-arrow {
    border-bottom: 15px solid #777677;
}

.green {
    color: #00b4a0;
}

.green-background {
    background-color: #00b4a0;
}

.green-arrow {
    border-bottom: 15px solid #00b4a0;
}

/******* noscroll for body *********/
.noscroll {
    overflow: hidden;
}

.hidden {
    display: none;
}